.prt {
    margin: 0px;
    border: none;
    padding: 0px 50px 0px 50px;
    margin-bottom: 100px;
}

.intro {
    font-size: 60px;
    font-weight: 400;
    opacity: 0.9;
    text-decoration: underline;
    text-decoration-color: rgb(139, 139, 199);
    text-decoration-thickness: 15px;

}


.dashboardContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.dashboardContainer>img {
    border-radius: 10px;
}

.description {
    border: 1px solid blue;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 2rem;
    margin-bottom: 100px;
    width: 50%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}